body {
  background-color: rgb(32, 32, 37);
}

.container {
  margin: 40px;
}

.greetings {
  color: white;
  font-family: Arial;
  font-size: 50px;
}

.description {
  color: white;
  font-family: Inter;
  font-size: 20px;
}

.join-my-discord {
  font-size: 25px;
  font-weight: 600;

  color: white;
  background-color: #5865F2;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;

  border: none;
  border-radius: 16px;
}

.join-my-discord:hover {
  background-color: #5865f2d8;
  cursor: pointer;
}