/*
align-items: center "This centers the child elements of the <div> vertically"
justify-content: center: This centers the child elements of the <div> horizontally.
*/

body {
    background: #202025;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    /*
    width: 324px;
    height: 399px;
    */
    left: 0px;
    top: 0px;

    background: #18181C;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    /*
    width: 279px;
    height: 121px;
    */

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pfp {
    width: 121px;
    height: 121px;
    border-radius: 100%;

    background: #C4C4C4;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-info {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /*
    width: 158px;
    height: 114px;
    */

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.username {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;

    color: #FFFFFF;

    margin: auto;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.usertag {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;

    color: #E0E0E0;

    margin: 0px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.button {
    color: #DFDFDF;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    width: 324px;
    height: 56px;

    background: #2E2E34;
    border-radius: 15px;
}